* {
  background-color: #112d4e;
}
.container {
  position: absolute;
  top: 6%;
  left: 7%;
  width: 86%;
  height: 87%;
  border: 1px solid white;
  background-color: #f9f7f7;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-panel {
  height: 60vh;
  width: 50vh;
  border-radius: 25px;
  background-color: #f9f7f7;
  border: solid 5px #3f72af;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#username,
#password,
#email {
  width: 75%;
  height: 2em;
  border-radius: 8px;
  border: 3px solid #3f72af;
  font-size: 1em;
  padding-left: 1.2em;
  padding-right: 1em;
  background: none;
  margin-bottom: 1.5em;
}
#SignInText {
  background: none;
  font-size: 4em;
  font-family: sans-serif;
  margin-bottom: 2em;
}
#signInBtn {
  background: none;
  width: 60%;
  height: 2em;
  border-radius: 8px;
  border: 3px solid #3f72af;
  font-size: 1.5em;
  margin-top: 1.5em;
  background-color: #3f72af;
  color: white;
}
#signUpText,
#signUpLink {
  background: none;
  bottom: 0%;
  margin-top: 6vh;
  font-family: sans-serif;
  font-size: 1em;
}
